<html>
    <body>
        <form method="POST" action="/add">
            <input type="text" name="todoitem">
            <input type="submit" value="add">
        </form>

    <h1>Today's List</h1>
        <form method="POST" action="/update">
            {% for todo in todos %}
            <div class="checkbox">
                <label><input type="checkbox" id="{{todo.id}}" name="itemTest" value="{{todo.text}}">{{ todo.text }}</label></br>
            </div>
            {% endfor %}
            <input type="submit" value="Update">
            <input type="submit" value = "Remove" formaction="/remove">
        </form>
        <div class="completed">

            <h1>Completed Tasks</h1>
        </div>
    </body>
</html>